.setting-box-body-right {
  display: flex;
  flex: auto;
  flex-direction: column;
  min-height: 0;
  margin-right: 12.5%;
  margin-left: 12.5%;
  padding: 20px;

  .setting-box-right-head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    flex-direction: column;

    .setting-box-right-head-text {
      display: flex;
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .project-info-title {
      display: flex;
      align-items: center;
      font-size: 15px;
      font-weight: 600;
    }
  }
}

.setting-box-div-delete{
  background: #ff0000;
  margin-top: 10px;
  cursor: pointer;
  text-align: center;
  height: 30px;
  line-height: 30px;
  color: #fff;
  border-radius: 4px;
  width: 100px;
  font-size: 12px;
}
