.home {
  height: calc(100% - 48px);;
  flex: 1;
  overflow: auto;


  .home-body {
    width: 1080px;
    margin: 0 auto;
    padding: 20px;

    .home-content {
      margin-bottom: 10px;
      border-radius: 4px;
      overflow: hidden;
      background-color: #fff;

      .home-content-title {
        padding: 10px;
        margin: 0 0 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .home-content-title-text {
          display: flex;
          align-items: center;
          font-weight: bold;
          font-size: 16px;
        }
      }

      .home-content-detail {
        padding: 10px;
        min-height: 130px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 10px;
        overflow: hidden;
        gap: 10px;
        height: 104px;
        justify-content: start;


        .home-content-detail-item {
          flex: 1;
          max-width: 25%;
          min-width: 120px;
          padding: 10px;
          border-radius: 4px;
          cursor: pointer;
          background-color: #f7f7f7;
          border-bottom: 2px solid #fafbfc;

          .item-title {
            margin-bottom: 10px;
            font-weight: bold;
            display: flex;
            align-items: center;
            font-size: 16px;
            justify-content: start;

            .item-title-png {
              padding-right: 10px;


              .user-big-icon {
                width: 32px;
                height: 32px;
                border-radius: 4px;
                font-size: 16px;
                display: flex;
                justify-content: center;
                align-items: center;
              }
            }


            .item-title-text {
              margin-right: 15px;
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
              max-width: 140px;
            }


          }

          .item-work {
            display: flex;
            gap: 10px;

            .item-work-item {
              font-size: 12px;
              display: inline-flex;
              width: 100%;
              justify-content: space-between;
              height: 30px;
              line-height: 30px;
              gap: 5px;

              .item-work-label {
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                width: 60px;
              }
            }
          }
        }

      }

    }

    .home-alarm-table {
      margin: 15px auto;
      padding: 20px;
      background-color: #fff;
      border-radius: 4px;

      .home-table-title {
        width: 100%;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .home-alarm-table-list {
        margin-top: 10px;
        display: flex;
        flex-direction: column;

        .home-alarm-table-line{
          display: flex;
          align-items: center;
          margin-bottom: 10px;
          gap: 20px;
          justify-content: space-between;

          .home-alarm-table-div{
            display: flex;
            align-items: center;
            gap: 5px;
            flex: 1;
            min-width: 0;
          }
        }
      }
    }

    .home-dynamic-table {
      border-radius: 4px;
      background: #fff;
      margin: 0 0 10px;
    }
  }

}