.details {
  display: flex;
  height: calc(100% - 48px);
  overflow: auto;
  background: #fff;


  .details-body {
    margin: 0 auto;
    width: 100%;
    padding: 20px;

    .details-breadcrumb-table {
      margin: 15px auto;
      padding: 20px;
      //background-color: #fff;
      border-radius: 4px;
      width: 1344px;

      .details-table-title {
        margin-top: 15px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .details-tables{
          display: flex;
          justify-content: flex-start;
          align-items: center;
          height: 50px;
          line-height: 50px;
        }

        .details-tabs {
          color: #000;
          border-bottom: 2px solid #5d70ea;
        }

        .details-tabs-item {
          font-size: 13px;
          cursor: pointer;
          height: 50px;
          line-height: 50px;
          margin-right: 20px;
        }

        .details-tabs-wrap {
          display: flex;
          flex-wrap: wrap;

          .item-tabs-item {
            width: 800px;
            height: 100%;

          }

          .layout-search {
            justify-content: space-between;
            width: 1000px;

            .layout-div {
              padding: 20px;
            }
          }

        }

        .empty-action-save {
          text-decoration: underline;
          color: #5D70EAFF;
          width: 60px;
          height: 30px;
          line-height: 30px;
          border-radius: 4px;
          text-align: center;
          margin: 0 auto;
        }
      }

      .layout-body-list{

      }

    }

  }

}

.details-search {
  display: flex;
  justify-content: flex-start;
  width: 1000px;

  .details-div {
    padding: 20px;
  }

}

.details-alarm-table-list {
  margin: 10px 0;

  .details-pagination {
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

}

.details-dynamic-table {
  border-radius: 4px;
  background: #fff;
  margin: 0 0 10px;
}