.db-hostDetails-layout{
  height: 100%;
  padding: 20px 0;

    .db-design-up{
      display: flex;
      background: #ffffff;
      border-radius: 10px;
      height: 32px;
      line-height: 32px;
      overflow: hidden;
      width: 100%;
      gap: 20px;

      .db-design-tab{
        display: flex;
        cursor: pointer;
        width: 80px;
        align-items: center;
        border-radius: 10px;
        justify-content: center;
        background-color: #efefef;


        &:not(:last-child){
          width: 80px;
        }
        .design-tab-icon{
          padding-right: 2px;
        }
      }
      .design-active{
        font-weight: bold;
        color: #0d66e4;
        background-color: #e3e8f0;
      }

      .design-tab-title{
        display: flex;
        align-items: center;

      }
    }
}