.setting-box-right-left {
  display: flex;
  flex-direction: column;
  width: 100%;
  list-style-type: none;
  margin: 20px 0;

  .setting-box-menu {
    display: flex;
    background: #fff;
    border-radius: 10px;
    height: 32px;
    line-height: 32px;
    overflow: hidden;
    width: 100%;
    gap: 20px;

    .setting-box-right-tabs {
      display: flex;
      cursor: pointer;
      width: 80px;
      align-items: center;
      border-radius: 10px;
      justify-content: center;
      background-color: #fafbfc;

      &:not(:last-child){
        width: 80px;
      }
      .design-tab-icon{
        padding-right: 2px;
      }
    }
    .setting-box-right-tabs:hover{
      background-color: #EDF0F5;
    }
    .setting-setting-select{
      font-weight: bold;
      color: #0d66e4;
      background-color: #e3e8f0;
    }
  }
}

