@import "_color";
@import "_base";
@import "_normalize";


.ant-modal-close-x {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.ant-form-item-control-input-content .ant-btn {
    margin-right: 8px;
}

.ant-breadcrumb {
    font-size: 15px;
    font-weight: 600;
}

.ant-table-column-sorters {
    padding: 8px;
}

.span-botton {
    white-space: nowrap;
    cursor: pointer;
}
.span-botton:hover {
    color: var(--tiklab-blue);
}
.delete {
    color: red;
}
.table-box {
    margin-top: 14px;
}
.ant-table-tbody>tr>td {
    border-bottom: 0;
    padding: 8px;
}
.ant-table-thead>tr>th {
    background: #fff;
    font-weight: 600;
    padding: 8px;
    color: #666;
    font-size: 12px;
}
/*.ant-table table {
    border-bottom: 1px solid #f0f0f0;
}*/


.ant-modal-mask   {
    background-color: #4a60848f !important;
}

.ant-modal-wrap {
    display: flex;
    align-items: center;
}

.ant-modal {
    top: 0;
    padding: 0;
}
.ant-table-tbody>tr.ant-table-row:hover>td {
    background: none;
}
.ant-table-tbody>tr.ant-table-row:hover {
    background: #edf0f5;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: var(--tiklab-blue);
}
.ant-btn-primary{
    background-color: var(--tiklab-blue);
}

.ant-btn-link {
    color: var(--tiklab-blue);
}
.ant-modal-title {
    font-weight: 600;
}

.ant-modal-header {
    border-bottom: 0;
}

.ant-modal-footer {
    border-top: 0;
}

.icon {
    width: 15px;
    height: 15px;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
    margin-right: 5px;
}
.button-icon {
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

.mf-dropdown-more{
    box-shadow: 0 4px 8px -2px #091e4240, 0 0 1px #091e424f;
    border-radius: 4px;
    background: #ffffff;
    width: 150px;
    padding: 8px;
    .dropdown-more-item{
        cursor: pointer;
        padding: 5px;
        &:hover{
            background: #f4f4f4;
        }
    }
}

.search-add{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .search {
        border-radius: 4px;;
        margin-right: 10px;
    }
}

.portal-layout-content {
    overflow: hidden !important;
}
.ant-divider-horizontal {
    margin: 12px 0 24px;
}
.ant-modal {
    .ant-modal-body {
        padding: 0 24px;
    }
}
.ant-modal-confirm {
    .ant-modal-body {
        padding: 32px 32px 24px;
    }
}
.ant-form-item {
    margin: 0 0 20px;
}
.ant-form-item-explain {
    font-size: 13px;
}

.ant-form-item-label {
    font-size: 12px;
    font-weight: 600;

}

.ant-form-item-label>label {
    color: #666;
    font-size: 12px;
}

.ant-form-item-label>label.ant-form-item-required:not(.ant-form-item-required-mark-optional):after {
    display: inline-block;
    margin-right: 4px;
    color: #ff4d4f;
    font-size: 14px;
    font-family: SimSun,sans-serif;
    line-height: 1;
    content: "*";
}

.ant-form-item-label>label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
    display: none;
    content: "";
}

shadow-view {
    opacity: 1 !important;
}


.ant-modal-close-x {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mf-icon{
    &-0{
        background: #f3caca;
    }
    &-1{
        background: #cadbf3;
    }
    &-2{
        background: #e8eaf6;
    }
    &-3{
        background: #ffebee;
    }
    &-4{
        background: #deedd7;
    }
    &-5{
        background: #caf3ef;
    }
}

.icon-s {
    width: 16px;
    height: 16px;
}

.common-icon-show{
    width: 18px;
    height: 18px;
}

:root {

    --tiklab-white: #fff;   /* 主色调白*/
    --tiklab-black: #000;   /* 主色调黑 */
    --tiklab-blue: #0d66e4;   /* 主色调蓝 */
    --tiklab-gray-200: #ececec;  /* border 的边线 */
    --tiklab-gray-300: #edf0f5;  /* hover颜色 */
    --tiklab-gray-400: #e3e8f0;  /* 左侧导航 选中颜色 */
    --tiklab-gray-500: #999999; /* 文字次级颜色灰色调 */
    --tiklab-gray-600: #fafbfc; /* 内容区域色调 */
    --tiklab-gray-700: #f0f3fa; /* 侧边栏色调 */
    --tiklab-gray: #efefef;  /* 主色调灰 */


    --tiklab-padding: 20px;  /*页面边距 */
    --tiklab-padding-resove: -20px; /* 页面边距 */
    --tiklab-padding-item: 15px;  /* 元素间隔边距 */
    --tiklab-padding-resove-item:-15px;  /* 元素间隔边距 */

    --tiklab-font-12: 12px;  /* 图文排需要的文字 */
    --tiklab-font-13: 13px;  /* 描述文字 */
    --tiklab-font-14: 14px; /* 正文 */
    --tiklab-font-15: 15px;  /* 2级标题*/
    --tiklab-font-16: 16px;  /* 标题 */

    --tiklab-font-weight-bold: bold;  /* 标题字重 */

    /* 图标大小 */
    --tiklab-icon-size-16: 16px;
    --tiklab-icon-size-20: 20px;
    --tiklab-icon-size-22: 22px;
    --tiklab-icon-size-24: 24px;
    --tiklab-icon-size-32: 32px;

    --kaelthas-border-color: var(--tiklab-gray-200);
    --kaelthas-hover-color: var(--tiklab-gray-300);
    --kaelthas-select-color: var(--tiklab-gray-400);
    --kaelthas-aside-color: #f0f3fa;
    --kaelthas-backdrop-color: var(--tiklab-gray-600);
    --kaelthas-head-height: 48px;
    --kaelthas-content-height: calc(100% - 48px)
}
