
.box-graphics-right {
  flex-direction: column;
  padding: 20px;
  height: 100%;

  .box-graphics-title {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;



  }

  .graphics-kind-options {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    margin-top: 15px;
    height: 42px;
    line-height: 42px;

    .box-graphics-title-text {
      flex: 1;
      .count-graphics{
        font-size: 12px;
        padding-left: 3px;
        color: #999;
      }
    }

    .box-graphics-title-div{
      display: flex;
      align-items: center;
      justify-content: space-between;


      .graphics-top-right {
        gap: 10px;
        background-color: #0d66e4;
        color: #ffffff;
        font-weight: 500;
        padding: 5px 10px;
        border-radius: 4px;
        display: flex;
        align-items: center;
        cursor: pointer;
        height: 32px;
        line-height: 32px;
        margin-left: 50px;
      }

      .graphics-kind-search {
        border-radius: 4px;
        width: 200px;
      }
    }


    .graphics-kind-options-tabs-text {
      padding: 0 5px;
      cursor: pointer;
    }

  }

  .box-graphics-table {
    padding-top: 20px;
    background: #fff;
  }

}