
/* input 输入框样式*/
.input-custom.ant-input-affix-wrapper{
  border:none !important;
  background-color:var(--tiklab-gray) !important;
  .ant-input{
    background-color:var(--tiklab-gray) !important;
  }
}
.input-icon{
  font-size: var(--tiklab-input-icon-15);
}
