.ku-monitor-right {
  flex-direction: column;


  .ku-monitor-title {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    .monitor-top-right-search {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .ku-monitor-top-right {
      gap: 10px;
      background-color: #0d66e4;
      color: #ffffff;
      font-weight: 500;
      padding: 5px 10px;
      border-radius: 4px;
      display: flex;
      align-items: center;
      cursor: pointer;
      height: 32px;
      line-height: 32px;
      width: fit-content;
      margin-left: 50px;
    }
  }




  .ku-monitor-table {
    padding-top: 20px;
    background: #fff;
  }

  .monitorEdit {
    position: relative;
    height: 100%;
    overflow: hidden;
    text-align: center;
  }
}

.alertContainer {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  max-width: 500px
}
