
.box-monitor-right {
  flex: 1;
  flex-direction: column;
  margin: 0 12.5%;
  padding: 20px;

  .box-monitor-title {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;


    .box-monitor-title-text {
      font-size: 16px;
      font-weight: bold;
      display: flex;
      align-items: center;
    }

    .monitor-top-right {
      gap: 10px;
      background-color: #0d66e4;
      color: #ffffff;
      font-weight: 500;
      padding: 5px 10px;
      border-radius: 4px;
      display: flex;
      align-items: center;
      cursor: pointer;
      height: 32px;
      line-height: 32px;
      width: fit-content;

      .monitor-top-right-button {
        position: relative;
      }
    }
  }

  .monitor-kind-options {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;

    .monitor-kind-options-tabs {
      display: flex;
      gap: 10px;
      height: 42px;
      line-height: 42px;
      justify-content: space-between;

      .monitor-kind-options-tabs-text {
        padding: 0 5px;
        cursor: pointer;
      }

      .monitor-select {
        color: #000;
        border-bottom: 2px solid #5d70ea;
      }
    }

    .monitor-kind-search {
      display: flex;
      align-items: center;
      gap: 15px;
    }
  }


  .box-monitor-table {
    padding-top: 20px;
    background: #fff;
  }
}

.addMonitorForm {
  display: flex;
  flex-direction: column;
  //height: 100%;
  //overflow: auto;
  padding: 0 15px;
}