/*.in-Details-layout{
  display: flex;
  flex-direction: column;
  width: 100%;
  list-style-type: none;
  margin: 20px 0;

    .design-up{
      display: flex;
      background: #fff;
      border-radius: 10px;
      height: 32px;
      line-height: 32px;
      overflow: hidden;
      width: 100%;
      gap: 20px;

      .design-tab{
        display: flex;
        cursor: pointer;
        width: 80px;
        align-items: center;
        border-radius: 10px;
        justify-content: center;
        background-color: #efefef;


        &:not(:last-child){
          width: 80px;
        }
        .design-tab-icon{
          padding-right: 2px;
        }
      }
      .design-active{
        font-weight: bold;
        color: #0d66e4;
        background-color: #e3e8f0;
      }

      .design-tab-title{
        display: flex;
        align-items: center;

      }
    }
}*/



.in-Details-layout{
  height: calc(100% - 83px);
  display: flex;
  width: 100%;
  .design-up{
    height: 100%;
    width: 180px;
    background-color: #fafbfc;
    .design-tab{
      padding: 8px 20px;
      cursor: pointer;
      &:hover{
        background-color: #EDF0F5;
      }
    }

    .design-active{
      font-weight: bold;
      color: #0d66e4;
      background-color: #e3e8f0;
    }
  }
  .design-data{
    height: 100%;
    overflow: auto;
    width: 100%;
    padding:0 20px;
  }
}
