.ku-box-graphics-right {
  flex-direction: column;
  height: calc(100% - 60px);

  .ku-graphics-title {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    .ku-graphics-title-text{
      font-size: 16px;
      font-weight: bold;
    }
    .ku-graphics-top-right {
      gap: 10px;
      background-color: #0d66e4;
      color: #ffffff;
      font-weight: 500;
      padding: 5px 10px;
      border-radius: 4px;
      display: flex;
      align-items: center;
      cursor: pointer;
      height: 32px;
      line-height: 32px;
      width: fit-content;
      margin-left: 50px;
    }
  }

  .ku-box-graphics-title {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;

  }

  .ku-graphics-kind-options {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    height: 42px;
    line-height: 42px;

    .ku-box-graphics-title-text {
      flex: 1;
    }

    .ku-box-graphics-title-div{
      display: flex;
      align-items: center;
      justify-content: space-between;

      .ku-graphics-kind-search {
        border-radius: 4px;
        width: 200px;
      }
    }


    .ku-graphics-kind-options-tabs-text {
      padding: 0 5px;
      cursor: pointer;
    }

  }

  .ku-box-graphics-table {
    padding-top: 20px;
    background: #fff;
  }

}
