.ku-right {
  flex: 1;
  flex-direction: column;
  height: 100%;
  background-color: #ffffff;

  .ku-body{
    margin: 20px 0;
    .box-ku-body-head {
      display: flex;
      flex-direction: column;
      gap: 20px;
      background-color: #fff;

      .box-ku-title {
        font-weight: 700;
        font-size: 16px;
      }

      .box-ku-details {
        display: flex;
        padding: 20px 0;
        border-radius: 4px;
        gap: 15px;
        /* height: 150px;*/
        width: 100%;
        justify-content: space-between;


        white-space: nowrap; /* 禁止换行 */
        overflow: hidden; /* 超出部分隐藏 */
        text-overflow: ellipsis; /* 显示省略号 */
          .box-ku-details-text {
            display: flex;
            gap: 5px;
            flex-direction: column;
            .item-top {
              height: 30px;
              line-height: 30px;
              width: 100px;
              text-align: center;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }




        .box-ku-nav{
          min-width: 150px;
          width: 20%;
          background-color: #fafbfc;
          border-radius:4px;
          .box-ku-nav-name{
            padding: 20px 15px;
            justify-items: center;
            justify-content: center;
            display: flex;
            gap: 5px;
            .box-ku-nav-name-icon{
              margin-top: 1px;
            }
            .box-ku-nav-name-title{
              font-weight:bold;
            }
            .box-ku-nav-name-text {
              display: flex;
              padding-top: 20px;
            }
          }


          .box-ku-nav-data{
            padding: 20px 15px ;
            justify-items: center;
            .box-ku-nav-title{
              font-weight:bold;
            }
            .box-ku-nav-text{
              display:flex;
              padding-top: 20px;
              gap: 15px;
              font-size: 13px;
              .ku-nav-text-desc{
                color: #9b9b9b;
                padding-right: 5px;
              }
              .box-ku-nav-text-open{
                color: #4cbb17;
              }
              .box-ku-nav-text-close{
                color: #ff4d4f;
              }

            }
          }

        }

      }

      .box-ku-body-head-graphics {
        display: flex;
        flex-direction: column;
        width: 300px;
        height: 260px;
        margin-top: 50px;
      }

      .box-ku-List {
        display: flex;
        margin: 60px 10px;
        justify-content: center;
      }

    }
  }


  .ku-body-server {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    gap: 20px;
    background-color: #fff;
    .ku-body-server-title {
      font-weight: 700;
      font-size: 16px;
      margin-left: 15px;
    }



    .ku-details {
      display: flex;
      flex-wrap: wrap;
      border-radius: 4px;
      height: 100%;
      width: 100%;
      gap: 20px;
      justify-content: space-between;
      white-space: nowrap; /* 禁止换行 */
      overflow: hidden; /* 超出部分隐藏 */
      text-overflow: ellipsis; /* 显示省略号 */

      .ku-margin-details {
        display: flex;
        align-items: center;
        gap: 5px;
        margin: 10px 1%;
        width: 20%;
        box-shadow: 0 0 3px 0 #ccc;
        background-color: #fafbfc;

        .ku-margin-div {
          display: flex;
          align-items: center;
          margin: auto;
          padding: 10px;
        }

        .status-img {
          width: 24px;
          height: 24px;
          margin-right: 5px;
        }

        .ku-details-text {
          display: flex;
          gap: 5px;
          flex-direction: column;

          .ku-item-top {
            height: 30px;
            line-height: 30px;
            margin-left: auto;
            margin-right: auto;
          }

          .ku-item-bottom {
            font-size: 12px;
            //color: #999;
          }

        }

      }

    }

    .ku-body {
      display: flex;
      flex-wrap: wrap;
      border-radius: 4px;
      height: 100%;
      width: 100%;
      gap: 5px;
      justify-content: space-between;

      .ku-body-table {
        display: flex;
        flex-direction: column;
        border-radius: 4px;
        align-items: center;
        width: 49%;
        height: 300px;
        box-shadow: 0 0 3px 0 #ccc;
        overflow: auto;
        margin-bottom: 20px;
        background-color: #fafbfc;

        .ku-table-title{
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 16px;
          font-weight: 700;
          margin-bottom: 10px;
          padding: 20px;

          height: 20px;
          line-height: 20px;
        }

        .ku-table-list {
          display: flex;
          gap: 5px;
          padding: 5px 0;
          width: 100%;
          justify-content: space-around;

          .ku-table-text {
            width: 25%;
            padding: 0 5px;
            text-align: center;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 13px;
          }


        }
      }

    }

  }

}





