
.box-graphics-right {
  flex-direction: column;
  height: calc(100% - 60px);

  .box-graphics-title {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
  }

  .in-graphics-kind-options {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    height: 42px;
    line-height: 42px;

    .box-graphics-title-text {
      flex: 1;
      .count-graphics{
        font-size: 12px;
        padding-left: 3px;
        color: #999;
      }
    }

    .in-box-graphics-title-div{
      display: flex;
      align-items: center;
      justify-content: space-between;

      .graphics-kind-search {
        border-radius: 4px;
        width: 200px;
      }
    }

    .in-graphics-top-right {
      gap: 10px;
      background-color: #0d66e4;
      color: #ffffff;
      font-weight: 500;
      padding: 5px 10px;
      border-radius: 4px;
      display: flex;
      align-items: center;
      cursor: pointer;
      height: 32px;
      line-height: 32px;
      margin-left: 50px;
    }

  }

  .box-graphics-table {
    padding-top: 20px;
    background: #fff;
  }

}