
.box-monitor-right {
  flex-direction: column;
  padding: 20px;
  height: 100%;

  .box-monitor-title {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;


    .box-monitor-title-text {
      flex: 1;
    }


  }

  .monitor-kind-options {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;

    .monitor-kind-options-tabs {
      display: flex;
      gap: 10px;
      height: 42px;
      line-height: 42px;
      justify-content: space-between;

      .monitor-kind-options-tabs-text {
        padding: 0 5px;
        cursor: pointer;
      }

      .monitor-select {
        color: #000;
        border-bottom: 2px solid #5d70ea;
      }
    }

    .monitor-kind-search {
      border-radius: 4px;
      width: 200px;
    }

    .monitor-top-right-search {
      display: flex;
      align-items: center;
      justify-content: space-between;


      .monitor-top-right {
        gap: 10px;
        background-color: #0d66e4;
        color: #ffffff;
        font-weight: 500;
        padding: 5px 10px;
        border-radius: 4px;
        display: flex;
        align-items: center;
        cursor: pointer;
        height: 32px;
        line-height: 32px;
        margin-left: 50px;

        .monitor-top-right-button {
          position: relative;
        }
      }
    }

  }


  .box-monitor-table {
    padding-top: 20px;
    background: #fff;
  }

  .monitorEdit {
    position: relative;
    height: 100%;
    overflow: hidden;
    text-align: center;
  }
}

.alertContainer {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  maxWidth: 500px
}