.edit-big {
    .edit-big-toolbar {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 10px 0;
        // border-top: 1px solid rgb(235,236,240);
        border-bottom: 1px solid rgb(235,236,240);
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
        flex-wrap: wrap;
        .slate-iconfont {
            width: 20px;
            height: 20px;
        }
        .tool-item {
            width: 30px;
            text-align: center;
            padding: 3px 0;
            i {
                font-size: 16px;
                font-weight: 600;
            }
        }
        .tool-active {
            border-radius: 5px;
            background-color: #e8ecf6;
            
        }
        
    }
    .block-menu {
        display: flex;
        align-items: center;
        padding: 0 10px;
        border-left: 1px solid #f0f0f0;
        border-right: 1px solid #f0f0f0;
        // margin: 0 10px;
    }
    .dropdown-menu {
        display: flex;
        align-items: center;
        border-right: 1px solid #f0f0f0;
        // margin: 0 10px;
    }

    .edit-box {
        overflow: auto;
        padding: 10px;
        max-height: 200px;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
    }
   
    p {
        margin: 0;
    }
    pre {
        margin: 0;
    }
    .edit-catalog {
        height: 100%;
        width: 200px;
        
        .catelog-title {
            height: 40px;
            line-height: 40px;
            font-size: 16px;
            font-weight: 600;
            text-align: center;
        }
        .catelog-box {
            border-left: 1px solid #d7d7d7;
        }
        .catelog-list {
            cursor: pointer;
            height: 30px;
            line-height: 30px;
        }
    }
}