.box-templateSetting {
  width: 100%;
  height: 100%;
  padding: 20px 30px;
  overflow: auto;

  .box-templateSetting-body {
    min-width: 516px;
    box-sizing: border-box;
    margin-left: 12.5%;
    display: block;
    flex: 0 0 75%;
    max-width: 75%;

    .box-templateSetting-div {
      margin: 0;
      padding: 0;
      box-sizing: border-box;

      .box-privilege-breadcrumb {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 16px;
        font-weight: bold;
        padding-bottom: 15px;

        .box-templateSetting-space {
          gap: 8px;
          box-sizing: border-box;
        }
      }

      .template-kind-option {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: flex-start;
        padding-bottom: 15px;

        .template-kind-search {
          display: flex;
          width: 100%;
          align-items: center;
          justify-content: flex-start;
          margin-top: 15px;
        }
      }
    }


  }

}


.template-add {
  display: inline-block;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
  cursor: pointer;
  padding: 4px 15px;
  font-size: 14px;
  border-radius: 4px;
  background: #0d66e4;
  border-color: #0d66e4;
  color: #fff;
}