
.monitor-row {
  flex: 1;
  flex-direction: column;
  padding: 20px;
  height: 100%;
  overflow: auto;
}

.box-between-div{
  display: flex;
  justify-content: space-between;
  align-items: center;

  .template-monitor-title{
    font-size: 16px;
    font-weight: bold;
    margin: 15px 0;
  }
}

.box-between {
  display: flex;
  justify-content: flex-end;

  .box-between-title{
    margin-left: 20px;
  }

    .box-details-text {
      display: flex;
      font-size: 16px;
      align-items: center;
      gap: 5px;
      margin: 10px 0;
    }


}

.monitor-add {
  display: inline-block;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
  cursor: pointer;
  padding: 4px 15px;
  font-size: 14px;
  border-radius: 4px;
  background: #0d66e4;
  border-color: #0d66e4;
  color: #fff;
}