.in-configs-header {
    background: #ffffff;


    .in-topMenu-top {
        display: flex;
        width: 100%;
        align-items: start;
        padding: 10px 0;
        flex-direction: column;

        .in-topMenu-top-title{
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 10px;

            .in-normal-aside-left{
                display: flex;
                height: 35px;
                line-height: 35px;
                align-items: center;
            }
        }

        .in-normal-aside-opt-icon {
            display: flex;
            align-items: center;
            justify-content: center;

            .in-normal-host-opt-title{
                height: 35px;
                line-height: 35px;
                align-items: center;

                .in-normal-opt-text{
                    width: 100px;           /* 设置宽度 */
                    white-space: nowrap;    /* 禁止换行 */
                    overflow: hidden;       /* 超出部分隐藏 */
                    text-overflow: ellipsis;/* 显示省略号 */
                    font-size: 16px;
                }
            }
        }

        .in-normal-aside-opt-icon:hover {
            cursor: pointer;
        }

        .normal-aside-up {
            flex: 1;
        }

        .normal-aside-item {
            cursor: pointer;
            display: flex;
            height: 50px;
            align-items: center;
            padding: 5px 0;
            flex-direction: column;
            justify-content: center;

            &:hover {
                background: var(--tiklab-gray-300);
            }

            &:not(:last-child) {
                margin-bottom: 5px;
            }
        }

        .normal-aside-select {
            background: var(--tiklab-gray-400);
            border-bottom: 3px solid var(--tiklab-blue);
        }
    }

    .in-config-right {
        list-style-type: none;
        display: flex;
        justify-content: start;
        min-width: 600px;
        height: 35px;
        gap: 15px;
        border-bottom: 1px solid #d9d9d9;

        .inMenu-box {
            display: flex;
            align-items: center;
            cursor: pointer;
            overflow: hidden;
            flex-shrink: 0;
            height: 35px;
            line-height: 35px;
            width: 50px;
            justify-content: center;

            .inMenu-text {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .inTop-text-div{
                color: #999;
                font-size: 13px;
                padding: 4px 0 0 3px;

                .inTop-text-number{
                    display: flex;
                    justify-content: center;
                    left: 55%;
                    height: 16px;
                    width: 16px;
                    background: red;
                    line-height: 16px;
                    color: #fff;
                    border-radius: 50%;
                    font-size: 12px;
                }
            }
        }

        .inMenu-box:hover {
            background-color: #EDF0F5;
        }

        .border-bottom {
            color: var(--tiklab-blue);
            border-bottom: 2px solid var(--tiklab-blue);
        }
    }
}

.normal-aside-dropdown {
    left: 80px !important;
    top: 48px !important;
    box-shadow: 0 4px 8px -2px #091e4240, 0 0 1px #091e424f;
    border-radius: 4px;
    background: #ffffff;
    margin-left: -80px;
    margin-top: 15px;

    .in-opt {

        &-title {
            font-weight: bold;
            padding: 0 20px;
            height: 40px;
            line-height: 40px;
            border-bottom: 1px solid #ececec;
        }

        &-group {
            max-height: calc(100vh - 120px);
            min-height: 45px;
            overflow: auto;
        }

        &-item {
            padding: 0 20px;
            height: 40px;
            line-height: 40px;
            cursor: pointer;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            max-width: 200px;

            &:hover {
                background: #edf0f5;
            }
        }

        &-icon {
            display: inline-block;
            width: 25px;
            height: 25px;
            line-height: 25px;
            text-align: center;
            margin-right: 15px;
            border-radius: 4px;
        }

        &-active {
            background: #edf0f5;
        }

        &-more {
            cursor: pointer;
            text-align: center;
            padding: 8px 0;
            background: #f8f8f8;
            color: var(--tiklab-blue);
        }
    }
}