
.host-setting{
  display: flex;
  margin: 20px 0;
  gap: 8px;

  .host-setting-tabs {
    padding: 5px 12px;
    cursor: pointer;
    border-radius: 4px;
    background-color: #efefef;
    &:hover{
      background-color: #EDF0F5;
    }
  }

  .host-setting-select{
    font-weight: bold;
    color: #0d66e4;
    background-color: #e3e8f0;


  }
}
