.alarmList{
    display:inline-block;
    margin: 10px 100px 30px 100px;
    background:#f1f1f1;
    padding:20px;
}
.hostStyle{

}
.iconType{
    display: inline-block;
    margin-left: 30px;
    margin-right: 30px;
    width: 100px;
}
.hostTop{
    display: inline-block;
    margin: 30px 50px 30px 50px;
    border: 1px solid black;
    background: #DDDDDD;
}

.alarmTable{
    display:inline-block;
    margin: 10px 120px 10px 120px;
}

.newsListLeft{
    display:inline-block;
    margin: 5px 200px 5px 100px;
}
.newsListRight{
    display:inline-block;
    margin: 5px 200px 5px 1000px;

}