.db-box-right {
  flex: 1;
  flex-direction: column;
  height: 100%;
  background-color: #ffffff;

  .box-db-survey {
    padding: 20px 0;


    .box-db-body-head {
      display: flex;
      flex-direction: column;
      gap: 20px;
      background-color: #fff;

      .box-db-title {
        font-weight: 700;
        font-size: 16px;
      }

      .box-db-details {
        display: flex;
        padding: 20px 0;
        border-radius: 4px;
        gap: 15px;
        width: 100%;
        justify-content: space-between;

        white-space: nowrap; /* 禁止换行 */
        overflow: hidden; /* 超出部分隐藏 */
        text-overflow: ellipsis; /* 显示省略号 */

        .box-db-margin-details {
          display: flex;
          align-items: center;
          gap: 5px;
          margin-bottom: 10px;
          width: 200px;
          background-color: #fafbfc;


          .box-db-margin-div {
            display: flex;
            align-items: center;
            margin: auto;
            padding: 10px;
          }

          .user-big-icon {
            display: flex;
            line-height: 24px;
            margin-right: 10px;
            width: 24px;
            height: 24px;
            border-radius: 4px;
            font-size: 16px;
            justify-content: center;
            align-items: center;
          }

          .status-img {
            width: 24px;
            height: 24px;
            margin-right: 5px;
          }

          .box-db-details-text {
            display: flex;
            gap: 5px;
            flex-direction: column;

            .item-top {
              height: 30px;
              line-height: 30px;
              width: 100px;
              text-align: center;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }

            .item-bottom {
              font-size: 12px;
              color: #999;
              text-align: center;
            }
          }

        }

        .box-db-margin-work {
          display: flex;
          justify-content: start;
          gap: 20px;

          .db-layout-item {
            display: flex;
            align-items: center;
            gap: 5px;
            margin-bottom: 10px;
          }
        }

        .box-db-nav{
          min-width: 150px;
          width: 20%;
          background-color: #fafbfc;
          border-radius:4px;
          .box-db-nav-name{
            padding: 20px 15px;
            justify-items: center;
            justify-content: center;
            display: flex;
            gap: 5px;
            .box-db-nav-name-icon{
              margin-top: 1px;
            }
            .box-db-nav-name-title{
              font-weight:bold;
            }
            .box-db-nav-name-text {
              display: flex;
              padding-top: 20px;
            }
          }


          .box-db-nav-data{
            padding: 20px 15px;
            justify-items: center;
          /*  display: flex;*/
            .box-db-nav-data-style{
              display: flex;
              align-items: center;
              gap: 5px;
            }
            .box-db-nav-data-name{
              margin-left: 15px;
            }

            .box-db-nav-title{
              font-weight:bold;
            }
            .box-db-nav-text{
              display:flex;
              padding-top: 20px;
              gap: 15px;
              font-size: 13px;
              .box-db-nav-text-open{
                color: #4cbb17;
              }
              .box-db-nav-text-close{
                color: #ff4d4f;
              }

              .db-nav-text-desc{
                color: #9b9b9b;
                padding-right: 5px;
              }
            }
          }
        }
      }

      .box-db-body-head-graphics {
        display: flex;
        flex-direction: column;
        width: 300px;
        height: 260px;
        margin-top: 50px;
      }

      .box-db-List {
        display: flex;
        margin: 60px 10px;
        justify-content: center;
      }

    }


    .box-db-body {
      display: flex;
      flex-direction: column;
      background-color: #fff;
      padding: 20px 0;

      .db-news {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 15px;

        .more {
          color: var(--tiklab-blue);
          margin-left: 10px;
          cursor: pointer;
          display: flex;
          align-items: center;
        }
      }

      .db-news-List {
        margin-top: 15px;
        display: flex;
        flex-direction: column;

        .db-news-title {
          font-size: 15px;
          line-height: 30px;
          position: relative;

          .db-news-title-text {
            width: 100px;
            border-radius: 5px;
            background: #e3e8f0;
            padding: 0 3px;
            text-align: center;
          }
        }

        .db-news-Line {
          display: flex;
          align-items: center;
          min-width: 0;
          position: relative;

          .db-news-div {

          }
        }
      }
    }

  }
}





