.host-Dynamic {
  height: calc(100vh - 164px);
  background: #ffffff;

    .host-Dynamic-list-page{
      background: #fff;
      min-height: calc(100vh - 88px);
      padding: var(--tiklab-padding) 0;


      .host-Dynamic-list-top{
        background: #fff;
      }

      .host-Dynamic-list{
        margin-top: 15px;

        .host-Dynamic-list-item{
          display: flex;
          align-items: center;
          font-size: 14px;
          justify-content: space-between;
          margin-bottom: 10px;
          gap: 20px;

          .Dynamic-list-name{
            width: 300px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }

        }

      }

      .host-Dynamic-pagination{
        text-align: center;
        margin-top: 10px;
      }

    }
}