.host-layout{
  display: flex;
  height: calc(100vh - 48px);
  flex-direction: row;

  .prodetail-row {
    height: calc(100vh - 48px);
  }
}

.prodetail-content{
  height: 100%;
  background: #fff;

}