.box-template-right {
  flex-direction: column;
  /*height: calc(100% - 60px);*/

  .box-template-right-title {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    .host-template-right-div{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .host-template-top-right{
      gap: 10px;
      background-color: #0d66e4;
      color: #ffffff;
      font-weight: 500;
      padding: 5px 10px;
      border-radius: 4px;
      display: flex;
      align-items: center;
      cursor: pointer;
      height: 32px;
      line-height: 32px;
      width: fit-content;
      margin-left: 50px;
    }

  }


}


.box-template-table {
  padding-top: 20px;
}


.addTemplateForm {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
}


