.host-setting-box-right-left {
  display: flex;
  flex-direction: column;
  width: 100%;
  list-style-type: none;
  margin: 20px 0;

  .host-setting-box-menu {
    display: flex;
    background: #fff;
    border-radius: 10px;
    height: 32px;
    line-height: 32px;
    overflow: hidden;
    width: 100%;
    gap: 20px;

    .host-setting-box-right-tabs {
      display: flex;
      cursor: pointer;
      width: 80px;
      align-items: center;
      border-radius: 10px;
      justify-content: center;
      background-color: #efefef;

      &:not(:last-child){
        width: 80px;
      }
      .design-tab-icon{
        padding-right: 2px;
      }
    }

    .host-setting-select{
      font-weight: bold;
      color: #0d66e4;
      background-color: #e3e8f0;
    }
  }
}