.host-setting-box-right-left {
  height: 100%;
  width: 180px;
  background-color: #fafbfc;

  .host-setting-box-right-tabs {
    padding: 8px 20px;
    cursor: pointer;
    &:hover{
      background-color: #EDF0F5;
    }
  }

  .host-setting-select{
    font-weight: bold;
    color: #0d66e4;
    background-color: #e3e8f0;
  }
}
