.box-trigger {
  display: flex;
  height: calc(100vh - 48px);

  .box-trigger-right {
    flex: 1;
    flex-direction: column;
    margin: 0 12.5%;

    .box-trigger-title {
      display: flex;
      box-sizing: border-box;
      align-items: center;
      justify-content: space-between;

      .box-trigger-title-text {
        font-size: 16px;
        font-weight: bold;
        display: flex;
        align-items: center;
      }

      .trigger-top-right {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        padding: 20px;

        .trigger-top-right-button {
          position: relative;
        }
      }
    }

    .trigger-kind-options {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      margin-top: 15px;

      .trigger-kind-options-tabs {
        display: flex;
        gap: 10px;
        height: 42px;
        line-height: 42px;
        justify-content: space-between;

        .trigger-kind-options-tabs-text {
          padding: 0 5px;
          cursor: pointer;
        }
      }
    }

    .trigger-kind-search {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: flex-end;
      margin-top: 15px;
    }

    .box-trigger-table {
      padding-top: 20px;
    }
  }
}