.in-right {
  flex: 1;
  flex-direction: column;
  height: 100%;
  background-color: #ffffff;


  .in-body-head {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    gap: 20px;
    background-color: #fff;

    .in-title {
      font-weight: 700;
    }

    .in-details {
      display: flex;
      flex-wrap: wrap;
      margin: 20px 0;
      border-radius: 4px;
      height: 100%;
      width: 100%;
      gap: 20px;
      justify-content: space-between;
      white-space: nowrap; /* 禁止换行 */
      overflow: hidden; /* 超出部分隐藏 */
      text-overflow: ellipsis; /* 显示省略号 */

      .in-margin-details {
        display: flex;
        align-items: center;
        gap: 5px;
        margin: 10px 1%;
        width: 20%;
        box-shadow: 0 0 3px 0 #ccc;

        .in-margin-div {
          display: flex;
          align-items: center;
          margin: auto;
          padding: 10px;
        }

        .status-img {
          width: 24px;
          height: 24px;
          margin-right: 5px;
        }

        .in-details-text {
          display: flex;
          gap: 5px;
          flex-direction: column;

          .in-item-top {
            height: 30px;
            line-height: 30px;
            margin-left: auto;
            margin-right: auto;
          }

          .in-item-bottom {
            display: flex;
            font-size: 12px;
            justify-content: center;
          }

        }

      }

    }

    .in-body {
      display: flex;
      flex-wrap: wrap;
      padding: 20px;
      border-radius: 4px;
      height: 100%;
      width: 100%;
      gap: 5px;
      justify-content: center;

      .in-body-table {
        display: flex;
        flex-direction: column;
        border-radius: 4px;
        align-items: center;
        width: 49%;
        height: 300px;
        box-shadow: 0 0 3px 0 #ccc;
        overflow: auto;
        margin-bottom: 20px;

        .in-table-title{
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 16px;
          font-weight: 700;
          margin-bottom: 10px;
          padding: 20px;

          height: 20px;
          line-height: 20px;
        }

        .in-table-list {
          display: flex;
          gap: 5px;
          padding: 5px 0;
          width: 100%;
          justify-content: space-around;

          .in-table-text {
            width: 25%;
            padding: 0 5px;
            text-align: center;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 13px;
          }


        }
      }

    }

  }

}





